:root {
  --clr-dark: #0d1116;
  --clr-light: #f1f5f9;
  --clr-dark2: rgb(13, 17, 22, 0.6);
  --clr-light2: rgb(241, 245, 249, 0.6);
  --primary: #25d366;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  border: none;
}

html {
  scroll-behavior: smooth;
}

.dark-mode {
  --clr-dark: #f1f5f9;
  --clr-light: #0d1116;
  --clr-dark2: rgb(241, 245, 249, 0.6);
  --clr-light2: rgb(13, 17, 22, 0.6);
}

body {
  background-color: var(--clr-light);
  height: 2000px;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 7%;
  background-color: var(--clr-light);
  /* border-bottom: 1px solid rgba(1, 1, 1, 0.6); */
  position: fixed;
  right: 0;
  left: 0;
  z-index: 99999;
}

nav h1 {
  font-size: 1.5rem;
  color: var(--clr-dark);
  cursor: pointer;
  letter-spacing: 2px;
}


nav h1 span {
  color: var(--primary);
}

nav ul {
  display: flex;
  width: 40%;
  justify-content: space-around;
  list-style: none;
}

nav ul li a {
  color: var(--clr-dark2);
  font-size: 0.9rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  transition: all .8s;
}

nav ul li a:hover {
  color: var(--primary);
}

nav .icon {
  cursor: pointer;
  color: var(--clr-dark);
}

/* icon */
/* burger */
nav .burger {
  display: none;
}

.burger {
  position: relative;
  width: 30px;
  height: 23px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--primary);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked~span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 1px;
}

.burger input:checked~span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 21.6px;
  left: 2px;
}


/* jumbotron */
.jumbotron {
  min-height: 100vh;
  background-image: url('../img/jumbotron.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  color: #f1f5f9;
  text-shadow: 1px 1px #0d1116;
}

.jumbotron::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 101%;
  background: linear-gradient(0deg, var(--clr-light) 3%, rgba(255, 255, 255, 0) 25%);
}

.jumbotron .content {
  padding: 0 7%;
  z-index: 20;
}

.jumbotron .content h3 {
  font-size: 3rem;
}


.jumbotron .content p {
  font-size: 2rem;
  margin-bottom: 1rem;
  /* text-shadow: 2px 2px var(--clr-dark2); */
}

.jumbotron .content span {
  color: var(--primary);
}


/* about */

.about,
.demo,
.contact {
  padding: 5rem 7%;
  color: var(--clr-dark);
}

.about h3,
.demo h3,
.contact h3 {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 2rem;
}

.about h3 span,
.demo h3 span,
.contact h3 span {
  color: var(--primary);
}

.about .content {
  display: flex;
  justify-content: space-around;
  text-align: center;
  gap: 2rem;
  flex: 1;

}

/* demo */
.demo .main {
  display: flex;
  justify-content: center;
}

.demo .main .content {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  padding: 2rem 3rem;
  border-radius: 0.1rem;
}

.demo .main .content h4 {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 1rem;
}

#webcam-container {
  margin: auto;
}

/* contact */

.contact .row {
  display: flex;
  width: 100%;
  height: 500px;
}

.contact .row .lokasi {
  width: 50%;
}

.contact .row .lokasi .map {
  height: 100%;
  width: 100%;
}

.contact .row form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
  padding-top: 1rem;
}

.contact .row form .form-control {
  display: flex;
  align-items: center;
  padding: 2px;
  width: 80%;
  height: 50px;
  border-bottom: 2px solid var(--clr-dark);
}

.contact .row form .form-control input {
  width: 100%;
  height: 100%;
  background: none;
  color: var(--font);
  font-size: 1.3rem;
  padding: 0.1rem 0.1rem;
  border: none;
}

.contact .row form .form-control input:focus {
  outline: none;
}


.contact .row form .form-text {
  width: 80%;
  height: 100px;
  border-bottom: 2px solid var(--clr-dark);
}

.contact .row form .form-text textarea {
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  background: none;
  color: var(--clr-dark);
  font-size: 1.3rem;
  padding: 0.1rem 0.1rem;
  border: none;
}

.contact .row form .form-text textarea:focus {
  outline: none;
  border-bottom: var(--primary);
}

.contact .row form .alert {
  background-color: var(--primary);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  color: var(--clr-light);
  position: relative;
}

.dismisalert {
  position: absolute;
  top: 12px;
  right: 7px;
  cursor: pointer;
  height: 50%;
}

/* footer */
.footer {
  height: 5rem;
}

.footer .link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.footer .link a>* {
  width: 1rem;
  height: 1rem;
}

.footer a,
.footer p {
  text-align: center;
  color: var(--clr-dark);
  cursor: pointer;
}

.footer a:hover,
.footer p:hover {
  color: var(--primary);
}

/* responsive */
/* @media screen and (max-width: 768px) { */
@media (max-width: 991.98px) {

  nav ul {
    width: 60%;
  }

  .about .content {
    flex-direction: column;
  }

  .contact .row {
    flex-direction: column;
    height: 550px;
    gap: 2rem;
  }

  .contact .row .lokasi,
  .contact .row form {
    width: 100%;
    height: 50%;
  }


  .contact .row form .form-control {
    width: 100%;
  }

  .contact .row form .form-text {
    width: 100%;
    height: 4rem;
  }

  .contact .row form .form-control input,
  .contact .row form .form-text textarea {
    font-size: 0.8rem;
  }

  .btn.btn-sm {
    font-size: 1rem;
  }
}


/* mobile */
@media screen and (max-width: 576px) {
  .theme-toggle {
    margin: 1rem;
  }

  nav .icon {
    position: absolute;
    top: 33%;
    right: 18%;
  }

  .theme-toggle .icon {
    width: 1.3rem;
    height: 1.3rem;
  }

  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    flex-direction: column;
    min-height: 100vh;
    /* align-items: center; */
    justify-content: start;
    background-color: var(--clr-light2);
    z-index: -1;
    transition: all 1s;
    transform: translateX(100%);
    opacity: 0;
  }

  nav .burger {
    display: inline;
  }

  .show {
    opacity: 1;
    transform: translateX(0);
  }

  nav ul li a {
    display: inline-block;
    text-transform: capitalize;
    color: var(--clr-dark);
    font-size: 1rem;
    padding: 1rem 2rem 2rem;
  }

  .about .content {
    flex-direction: column;
  }

  .contact .row {
    flex-direction: column;
    height: 550px;
    gap: 2rem;
  }

  .contact .row .lokasi,
  .contact .row form {
    width: 100%;
    height: 50%;
  }


  .contact .row form .alert {
    font-size: 0.6rem;
  }

  .contact .row form .form-control {
    width: 100%;
  }

  .contact .row form .form-text {
    width: 100%;
    height: 4rem;
  }

  .contact .row form .form-control input,
  .contact .row form .form-text textarea {
    font-size: 0.8rem;
  }

  .btn.btn-sm {
    font-size: 1rem;
  }

}


/* utility */
.btn {
  color: #f1f5f9;
  text-decoration: none;
  padding: 0.2rem 3rem;
  border-radius: 0.1rem;
  background-color: var(--primary);
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all .5s;
}

.btn:hover {
  background-color: #44e351;
}

.d-none {
  display: none !important;
}


.contact .row form .loading .spinner {
  animation: rotate 2s linear infinite;
  z-index: 333;
  margin: -25px 0 0 -25px;
  width: 20px;
  height: 20px;

  & .path {
    stroke: var(--clr-dark);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }

}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}